<div class="col-12 mt-2">
  <a routerLink="/admin/topic" class="btn btn-info btn-sm"><< Quay lại</a>
  <div class="card mt-2" *ngIf="topic">
    <div class="card-header">
      <h4>Thống kê topic {{topic.name}}</h4>
    </div>
    <div class="card-body">
      <div class="" *ngFor="let question of clonedQuestions; let i = index">
        <div class="alert alert-dark mb-0">{{question.name}}</div>
          <div class="chart-wrapper">
            <canvas baseChart
                    [datasets]="question['data_chart']"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
            </canvas>
          </div>
      </div>

    </div>
  </div>
</div>
