<div class="col-12 mt-5">
  <div class="card">
    <div class="card-header">
      <h4 class="float-left">Sửa topic</h4>
      <button class="btn btn-sm btn-success float-right" *ngIf="topic && topic.end === 0 && !topic.active" (click)="activeTopic()">Active topic</button>
      <span class="badge badge-success float-right" *ngIf="topic && topic.end == 0 && topic.active">Chủ đề đang active</span>
    </div>

    <div class="card-body">
      <form [formGroup]="topicForm" (ngSubmit)="onSubmit()" *ngIf="topic">
        <div class="form-group">
          <label for="name">Tên</label>
          <input id="name" type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Mô tả</label>
          <input id="description" type="text" formControlName="description" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="video">Video</label>
          <input id="video" type="text" formControlName="video" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.video.errors }" />
          <div *ngIf="submitted && f.video.errors" class="invalid-feedback">
            <div *ngIf="f.video.errors.required">Video id is required</div>
          </div>
        </div>

        <div class="card">
          <h4 class="card-header">Danh sách câu hỏi</h4>
          <div class="card-body">
            <div formArrayName="questions" *ngFor="let question of topicForm.get('questions')['controls']; let i = index">
              <div class="form-group" [formGroupName]="i">
                <label>{{(i + 1)}}. Câu hỏi {{(i + 1)}}</label>
                <input type="text" formControlName="name" class="form-control"/>
                <label>Danh sách câu trả lời</label>
                <div formArrayName="answers" *ngFor="let answer of question.get('answers').controls; let answerIndex = index">
                  <div class="form-group" [formGroupName]="answerIndex">
                    <label>{{answerIndex == 0 ? 'A' : ''}}{{answerIndex == 1 ? 'B' : ''}}{{answerIndex == 2 ? 'C' : ''}}{{answerIndex == 3 ? 'D' : ''}}</label>
                    <input type="text" formControlName="name" class="form-control"/>
                  </div>
                </div>
              </div>
            </div>
            <button (click)="addQuestion(null)" class="btn btn-sm btn-success">Thêm câu hỏi</button>
          </div>
        </div>

        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Lưu
        </button>
        <div *ngIf="success" class="alert alert-success mt-3 mb-0">{{success}}</div>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
    </div>
  </div>
</div>
