<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-3 left-sidebar">
      <app-navbar></app-navbar>
    </div>
    <div class="col-xs-12 col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
