<div class="row mt-2">
  <div class="col-12">
    <a routerLink="create" class="btn btn-info btn-sm">Thêm topic</a>
  </div>
  <div class="col-12 mt-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Tên</th>
          <th>Mô tả</th>
          <th>Tác vụ</th>
          <th>Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let topic of topics; let i = index">
          <td>{{topic.name}}</td>
          <td>{{topic.description}}</td>
          <td>
            <a *ngIf="topic.end == 1" routerLink="statistic/{{topic.id}}" class="btn btn-sm btn-info mr-1">Thống kê</a>
            <a routerLink="edit/{{topic.id}}" class="btn btn-sm btn-warning mr-1">Sửa</a>
            <button class="btn btn-danger btn-sm" (click)="deleteTopic(topic.id)">Xóa</button>
          </td>
          <td>
            <span class="badge badge-success" *ngIf="topic.end == 0 && topic.active">Active</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
