<div class="container">
  <div class="row mt-2">
    <div class="col-12">
      <button class="btn btn-warning mt-1" (click)="logout()">Đăng xuất</button>
    </div>
  </div>
  <div class="row mt-2" *ngIf="topic">
    <div class="col-12">
      <div class="form-group">
        <p>Chủ đề đang active: {{topic.name}}</p>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-info" (click)="endTopic()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Kết thúc chủ đề
        </button>
      </div>
      <div *ngIf="success" class="alert alert-success mt-3 mb-0">{{success}}</div>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </div>
  </div>
  <div class="row mt-5" *ngIf="!topic">
    <div class="col-12">
      <p>Không có chủ đề đang active</p>
    </div>
  </div>
</div>
