<div class="col-12 mt-5">
  <div class="card">
    <h4 class="card-header">Thêm mới topic</h4>
    <div class="card-body">
      <form [formGroup]="topicForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Tên</label>
          <input id="name" type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Mô tả</label>
          <input id="description" type="text" formControlName="description" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="video">Video</label>
          <input id="video" type="text" formControlName="video" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.video.errors }" />
          <div *ngIf="submitted && f.video.errors" class="invalid-feedback">
            <div *ngIf="f.video.errors.required">Video id is required</div>
          </div>
        </div>
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Lưu
        </button>
        <div *ngIf="success" class="alert alert-success mt-3 mb-0">{{success}}</div>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
    </div>
  </div>
</div>
