<div class="container mt-3 mb-5">
  <div class="row" *ngIf="activeTopic">
    <div class="col-xs-12 video-wrapper" style="margin: 0 auto;" *ngIf="video && videoState !== 0">
      <youtube-player
        [videoId]="video"
        (ready)="savePlayer($event)"
        (change)="onStateChange($event)"
      ></youtube-player>
    </div>

    <div class="col-12 question-wrapper" *ngIf="videoState === 0">
        <div class="" *ngFor="let question of questionsClone; let j = index">
          <div class="card mt-2 question" *ngIf="!question.isHide">
            <h5 class="card-header question__name">
                {{(j+1)}}. {{question.name}}
            </h5>
            <div class="card-body answer-wrapper">
              <div class="answer-item-wrap" *ngFor="let answer of question.answers; let i = index">
                <label class="radio" >
                  <input type="radio" name="answer__{{j}}" (click)="userAnswer(answer, question.id)">
                  <span class="answer answer__{{i}}">
                    {{(i == 0) ? 'A' : ''}}{{(i == 1 ? 'B' : '')}}{{(i == 2 ? 'C' : '')}}{{(i == 3 ? 'D' : '')}} - {{answer.name}}
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="alert alert-success" *ngIf="finish">Hoàn tất. Cảm ơn bạn đã tham gia khảo sát!</div>
    </div>
  </div>
  <div class="row" *ngIf="!activeTopic">
    <div class="col-12">
      <div class="alert alert-info">
        <p>Không có cuộc khảo sát nào. Vui lòng trở lại sau!</p>
      </div>
    </div>
  </div>
</div>
