<nav id="left-navbar">
  <ul class="nav-list-item">
    <li class="nav-item">
      <a routerLink="topic">Topic</a>
    </li>
<!--    <li class="nav-item">-->
<!--      <a routerLink="statistic">Thống kê</a>-->
<!--    </li>-->
    <li class="nav-item">
      <button class="btn btn-info" (click)="logout()">Đăng xuất</button>
    </li>
  </ul>
</nav>
